[Unit]
Description=Starts Psplash Boot screen
DefaultDependencies=no
RequiresMountsFor=/run
Before=sysinit.target

[Service]
Type=exec
ExecStart=/usr/local/bin/psplash -n --fbdev 0

[Install]
WantedBy=sysinit.target
